/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1068px) {
    .container {
        max-width: 1030px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1068px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.modal-dialog {

    margin-top: 100px;
    width: 380px;
}

.modal-content {
    background-color: darkgray;
}

.modal-header {
    padding: 10px;
    padding-left: 150px;
}

.modal-body {
    padding: 10px;
    padding-left: 35px;

}

.modal-footer {
    padding: 10px;
    padding-left: 30px;
}

.modal-btn {
    padding: 6px 40px;
}

.leftbar {
    position: relative;
    overflow: hidden;
}

.sidebar-inner1 {
    margin-top: 10px;
    background-color: #9acfea;
    height: 100px;
    border-radius: 10px;
}

.sidebar-inner2 {
    margin-top: 25px;
    background-color: #9acfea;
    height: 300px;
    border-radius: 10px;
}

.content-row {
    margin-left: 30;
}

.content-row-align {
    top: 50px;
}
.search-city{
    margin-top: 50px;
}
.search-city-btn{
   padding: 12px 12px;
}
.weather-align1{
     margin-top: 50px;
    margin-left: 50px;
}
.weather-align2{
     margin-top: 150px;
}
#weather-icon{
    width: 190PX;
    float: left;
}
#weather-info{
    width: 200PX;
    margin-left: 200px;
}
.recent-location{
    margin-top: 50px;
}
body{
background-image: url("../images/weather1.jpg");
}