<div class="container">
    <div class="row aboutus">
        <h3 class=""><strong>About InstaWeather</strong></h3>
        <hr class="aboutus-hr"/>
        <p class="aboutus-p">InstaWeather is a user friendly application which help people to seamlessly search weather conditions of
            different cities through out the world.
            Customized user experience makes it divergent from other such platforms. </p>

        <p class="aboutus-p">Move ahead, use the application and see the difference!!</p>
    </div>
    <div class="row">
        <a href="javaScript:void(0);"><div class="col-md-5 col-md-push-5 followus">
            <span class="fa fa-facebook"></span>
        </div>
        </a>
        <a href="javaScript:void(0);">
         <div class="col-md-5 col-md-push-5 followus">
             <span class="fa fa-twitter"></span>
        </div>
        </a>
    </div>
</div>