<div class="row content-row content-row-align ng-scope">
    <div class="col-lg-8">
        <div class="iglocations weather-align1"></div>
    </div>
    <div class="col-md-3 recent-location ">
        <div>
            <div>
                <div class="Corporate-Office">
                    <h3><strong><u>Corporate Office:</u></strong></h3>
                    <div class="Corporate-Office-inner">
        IntelliGrape Software (P) Ltd<br>
        SDF L-6, NSEZ,<br>
        Noida Phase 2,<br>
        India
                        </div>
                </div>
            </div>
            <!-- /.list-group -->
        </div>
    </div>
    <!-- /.col-lg-8 -->
</div>
