<div class="row content-row content-row-align">
    <div class="col-lg-8">
        <form>
            <div class="input-group search-city">
                <input id="city" type="text" class="form-control" placeholder="Search By City...">
                                <span class="input-group-btn">
                                <button class="btn btn-default search-city-btn" ng-click="getDeatails()" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </form>
        <!-- /input-group -->
        <div class="weather-align1">
            <div class="box-info full weather-widget">
                <div class="overlay-weather-info">
                    <div class="weather-info-city">
                        <h4><i class="fa fa-map-marker"></i> YOGYAKARTA, INDONESIA</h4>
                        <div id="weather-icon">
                            <i class="wi-day-sprinkle weather-icon"></i>
                        </div>
                        <div id="weather-info">
                            <h5>Sprinkle day</h5>
                            <h1>32<sup>°</sup>C</h1>
                        </div>
                    </div>
                    <!-- End div .weather-info-city -->
                </div>
                <!-- End div .overlay-weather-info -->
            </div>
            <!-- End div .box-info -->
        </div>
        <!-- /.panel -->

        <!-- /.panel -->
        <div class="weather-align2">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel wa-1">

                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel wa-1">

                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="panel  wa-1">

                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-md-3 recent-location ">
        <div>
            <div class="list-group sidebar-inner2">
                <a href="#">

                </a>
            </div>
            <!-- /.list-group -->
        </div>

    </div>
    <!-- /.col-lg-8 -->
</div>