<div class="row content-row content-row-align">
    <div class="col-lg-8">
        <form>
            <div class="search-city">
                <input id="city" type="text" class="form-control" placeholder="Search By City..." ng-model="city">
            </div>
        </form>
        <div ng-show="WIWeatherResult">
            <div class="weather-align1">
                <div class="box-info full weather-widget">
                    <div class="overlay-weather-info">
                        <div class="weather-info-city">
                            <h4 class="h4"><i class="fa fa-map-marker"></i> {{fullName}}</h4>

                            <div id="weather-icon" ng-show="WIWeatherResult.weather[0].description">
                                <i class="wi-day-sprinkle weather-icon"></i>
                                <img class="img-icon"
                                     src="http://openweathermap.org/img/w/{{WIWeatherResult.weather[0].icon}}.png">
                            </div>
                            <div id="weather-info">
                                <h5 class="h5">{{WIWeatherResult.weather[0].description}}</h5>

                                <h1 class="h1">{{WIWeatherResult.main.temp-273 | number:2}}<sup>°</sup>C</h1>
                            </div>
                        </div>
                        <!-- End div .weather-info-city -->
                    </div>
                    <!-- End div .overlay-weather-info -->
                </div>
                <!-- End div .box-info -->
            </div>

            <div class="weather-align2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel wa-1">
                            <div id="humidity-icon">
                                <img class="hw" src="../images/img/humidity.png">
                            </div>
                            <div id="humidity-info">
                                <h5>Humidity</h5>

                                <h1>{{WIWeatherResult.main.humidity + " %"}}</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-6">
                        <div class="panel wa-1">
                            <div id="windspeed-icon">
                                <img class="hw" src="../images/img/windSpeed.gif">
                            </div>
                            <div id="windspeed-info">
                                <h5>WindSpeed</h5>

                                <h1>{{WIWeatherResult.wind.speed + " km/h"}}</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <div ng-hide="WIWeatherResult">
            <img src="../images/img/ajax_loader_gray_512.gif" style="width: 250px;height: 250px; margin-top: 50px"
                 ng-show="reqLoader">

        </div>
        <div id="info" ng-show="showInfo">
            <h1>Sorry! weather information not found</h1>
        </div>
    </div>
    <div class="col-md-3 recent-location " ng-show="mostVisitedData.length>0">
        <div class="timeDiv pull-left">
            <div class="timeDivLeft col-sm-3">
                <strong><span class="time" my-current-time="format"></span></strong>
            </div>
            <div class="timeDivRight col-sm-3">
                <div class="timeDay"><strong>{{day}}</strong></div>
                <div class="dateClass"><strong><span  my-current-time="formatDate"></span></strong></div>
                <div class="timeMonth"><strong>{{month}}</strong></div>
            </div>

            <div class="sidebar-inner2">

                <ul class="list-group">
                    <h3 class="list-group-item in-h3"><strong>Most Searched Places</strong></h3>
                    <a class="list-group-item loc"
                       ng-repeat="data in mostVisitedData | orderBy:'searchCount':true | limitTo:5"
                       href="javascript:void(0);">
                        <li ng-click="getWeather(data)">{{" "+data.fullName}}
                        </li>
                    </a>
                </ul>
            </div>
            <!-- /.l

        <!-- /.col-lg-8 -->
        </div>
    </div>