<html>
<head>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
<p>
    Hi InstaWeather,
</p>
<p class="messages">
    &nbsp;&nbsp;&nbsp;&nbsp;<%=message%>
</p>
<p class="from">
   <strong>From:</strong>
    Name: <%=name%>
    <br>
    email: <%=email%>
</p>

</body>
</html>