<div class="profile-row">
    <div id="content">
        <div class="row profile">
            <div class="col-sm-3">
                <div class="row profile">
                    <div class="">
                        <img class="profile-image" src={{currentUser.profilePicUrl}}>
                    </div>
                    <div class="col-xs-5 about col-sm-12 profile-contact">
                        <h5>Email:</h5>
                        <p class="email">{{currentUser.email}}</p>
                        <h5>About:</h5>
                        <label ng-show="!isEditAbout"
                               class="pull-left col-sm-3 control-label">{{currentUser.About}}</label>

                        <div ng-show="isEditAbout" class="col-xs-5 col-sm-12">
                            <textarea rows="2" cols="29" class="about" id="About" data-value="currentUser.About"></textarea>
                            <button class="btn btn-info about pull-right" ng-click="updateAboutInfo()">save</button>
                        </div>
                        <a href="javaScript:void(0);" ng-show="!isEditAbout" ng-click="showAboutTextArea()"
                           class="edit-profile col-sm-12 pull right">Edit</a>
                        <a href="javaScript:void(0);" ng-show="isEditAbout" ng-click="hideAboutTextArea()"
                           class="edit-profile col-sm-12 pull right">Back</a>
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#/profile">Profile</a></li>
                    <li class=""><a href="#/profile/photos">Photos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <a href="javaScript:void(0);" ng-show="isEditprofile" ng-click="hideProfileEditFields()"
                                           class="edit-profile col-sm-12 pull right">Back</a>
                                        <a href="javaScript:void(0);" class="col-md-12 edit-profile"
                                           ng-show="!isEditprofile" ng-click="showProfileEditFields()">Edit</a>
                                        <form class="form-horizontal ng-pristine ng-valid" role="form">
                                            <div class="form-group" ng-repeat="(key,value) in currentUser.profileData">
                                                <label ng-show="value || isEditprofile"
                                                        class="col-sm-3 control-label pull-left">{{key}}</label>
                                                <div class="col-sm-9">
                                                    <label ng-show="!isEditprofile"
                                                           class="col-sm-3 control-label pull-left">{{value}}</label>
                                                    <div ng-show="isEditprofile" class="col-sm-3 control-label">
                                                        <input type="text" class="text" id="{{key}}" value="{{value}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-repeat="(key,value) in currentUser.Address">
                                                <label ng-show="value || isEditprofile" class="col-sm-3 control-label pull-left">{{key}}</label>
                                                <div class="col-sm-9">
                                                    <label ng-show="!isEditprofile"
                                                           class="col-sm-3 control-label pull-left">{{value}}</label>
                                                    <div ng-show="isEditprofile" class="col-sm-3 control-label">
                                                        <input type="text" class="text" id="{{key}}" value="{{value}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <button ng-show="isEditprofile" class="btn btn-info about pull-right"
                                                    ng-click="updateProfileInfo()">save
                                            </button>
                                            <!--                             <button type="submit" class="btn btn-default">save</button>-->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--/col-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/profile-->

    </div>
    <!-- end: Content -->
</div>