<div class="row profile-row ">
    <div class="col-sm-3">
        <div class="row profile">
            <div class=" pull-right">
                <a href="#/editprofile"> <img class="profile-image" src={{currentUser.profilePicUrl}}></a>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--/col-->
    <div class="col-sm-9">
        <div class="settings-content">
            <div class="boxed-group">
                <h3>Public profile</h3>
                <div class="boxed-group-inner clearfix
                             js-uploadable-container js-upload-avatar-image is-default">
                    <div class="columns ng-pristine">
                        <div class="column two-thirds">
                            <dl class="form" ng-show="currentUser.username">
                                <dt><label for="user_profile_name">Name</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_name">{{currentUser.username}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.email">
                                <dt><label for="user_profile_email">Email </label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_email">{{currentUser.email}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.About">
                                <dt><label for="user_profile_about">About</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_about">{{currentUser.About}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.profileData.Birthday">
                                <dt><label for="user_profile_birthday">Birthday</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_birthday">{{currentUser.profileData.Birthday}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.profileData.Gender">
                                <dt><label for="user_profile_gender">Gender</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_gender">{{currentUser.profileData.Gender}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.profileData.Mobile">
                                <dt><label for="user_profile_mobile">Mobile</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_mobile">{{currentUser.profileData.Mobile}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.Address.Hometown">
                                <dt><label for="user_profile_hometown">Hometown</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_hometown">{{currentUser.Address.Hometown}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.Address.City">
                                <dt><label for="user_profile_city">City</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_city">{{currentUser.Address.City}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.profileData.CurrentCity">
                                <dt><label for="user_profile_currentCity">CurrentCity</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_currentCity">{{currentUser.profileData.CurrentCity}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.Address.State">
                                <dt><label for="user_profile_state">State</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_state">{{currentUser.Address.State}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.Address.Country">
                                <dt><label for="user_profile_country">Country</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_country">{{currentUser.Address.Country}}</label></dd>
                            </dl>
                            <dl class="form" ng-show="currentUser.Address.pin">
                                <dt><label for="user_profile_pin">Pin</label></dt>
                                <dd class="profile-info"><label class="long" id="user_profile_pin">{{currentUser.Address.pin}}</label></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
