<div class="profile-row">
    <div id="content">
        <div class="row profile">
            <div class="col-sm-3">
                <div class="row profile">
                    <div class="">
                        <img class="profile-image" src={{currentUser.profilePicUrl}} alt="profile pic">
                    </div>
                    <div class="col-xs-5 about col-sm-12 profile-contact">
                        <h4>About:</h4>
                        <label ng-show="!isEditAbout"
                               class="pull-left col-sm-3 control-label">{{currentUser.About}}</label>
                        <div ng-show="isEditAbout" class="col-xs-5 col-sm-12">
                            <textarea rows="2" cols="29" class="about" ng-model="AboutInfo"
                                      ng-init="AboutInfo=currentUser.About"></textarea>
                            <button class="btn btn-info about pull-right" ng-click="saveAboutInfo()">save</button>
                        </div>
                        <a href="javaScript:void(0);" ng-show="!isEditAbout" ng-click="showAboutTextArea()"
                           class="edit-profile col-sm-12 pull right">Edit</a>
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs" id="myTab">
                    <li class=""><a href="#/profile">Profile</a></li>
                    <li class="active"><a href="#/profile/photos">Photos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                            <!--/col-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/profile-->

    </div>
    <!-- end: Content -->
</div>