<div class="profile-row">
    <div id="content">
        <div class="row profile">
            <div class="col-sm-3">
                <div class="row profile">
                    <div class="">
                        <img class="profile-image" src="assets/img/gallery/photo9.jpg">
                    </div>
                    <div class="col-xs-5 col-sm-12 profile-contact">
                        <h3>Contact Information</h3>
                        <ul class="profile-details">
                            <li>
                                <div><i class="fa fa-tablet"></i> mobile phone</div>
                                +48 123 456 789
                            </li>
                            <li>
                                <div><i class="fa fa-envelope"></i> e-mail</div>
                                lukasz@bootstrapmaster.com
                            </li>
                        </ul>
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class=""><a href="#/profile">Profile</a></li>
                    <li class="active"><a href="#/profile/photos">Photos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <form class="form-horizontal ng-pristine ng-valid" role="form">
                                            <div class="form-group" ng-repeat="(key,value) in profileData">
                                                <label
                                                        class="col-sm-3 control-label">{{key}}</label>

                                                <div class="col-sm-9">
                                                    <label
                                                            class="col-sm-3 control-label">{{value}}</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--/col-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/profile-->

    </div>
    <!-- end: Content -->
</div>